<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    
    <!-- Login Form -->
    <form (ngSubmit) = "submit()">
      <input type="text" id="email" class="fadeIn second" name="name" placeholder="name" [(ngModel)] = "form.name">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="address" [(ngModel)] = "form.address">
      <label for="category">Category</label>
      <select class="span3" name="category"  [(ngModel)] = "form.category">
        <option  *ngFor="let category of categories" value="{{category.id}}">
            {{category.name}}
        </option>
    </select>
      <input type="submit" class="fadeIn fourth">
    </form>

   

  </div>
</div>  