<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Sources</h2></div>
                    <div class="col-sm-4">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-info add-new"><a href="home"> Home</a></button>
                        </div>
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> <a href="addSource"> Add New</a></button>
                    </div>
                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>url</th>
                        <th>category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let source of sources">
                    <tr>
                        <td>{{source.name}}</td>
                        <td>{{source.url}}</td>
                        <td>{{source.category.name}}</td>
                        <td>
							
                            <a [routerLink]="['/updateSource',source.id]" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <button  (click) ="deleteSource(source.id)"><i class="material-icons"></i></button>
                            
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>    